html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------*/
.header {
  width: 1301px;
  height: 71px;
  background-color: rgba(140, 10, 13, 1);
  display: flex;
}
.seven {
  width: 177px;
  height: 41px;
  padding-top: 15px;
  padding-left: 67px;
  float: left;
  color: #F8C669;
}
.list{
  font-size: 16px;
  display: flex;
  margin-top: 40px;
  margin-left: 70px;
}
.one{
  text-decoration: none;
  color: #FFE394;
  margin-left: 30px;
}
.English {
  inline-size: 26px;
  block-size: 18px;
  margin-top: 35px;
  margin-left: 80px;
}
.Paragraph {
  margin-top: 40px;
  margin-left: 10px;
}
/** Закінчився Header **/
.main {
  inline-size: 1300px;
  block-size: 753px;
  background-image: url(img/Слой\ 15.png);
}
.section {
  inline-size: 1300px;
  block-size: 753px;
  background-color: rgba(245, 232, 198, 0.7);
  overflow: auto;
}
.div_image {
  width:1170px;
  height:335px;
  margin-left: 65px;
  margin-top: 61px;
  border: 5px solid black;
  position: relative;
}
.big_text{
  font-size: 4em;
  position: absolute;
  top: 30px;
  left:380px;
}
.button{
  width: 190px;
  height: 43px;
  font-size: 20px;
  background-color:rgba(246, 204, 121, 1) ;
  border-radius: 10px;
  position: absolute;
  top:100px;
  left: 500px;
  border-bottom: 7px solid rgba(191, 103, 13, 1);
  cursor: pointer;
}
.arrow{
  position: absolute;
  top:150px;
  left: 30px;
  background-color: rgba(90,0,0,0);
}
.arrow_cir{
  position: absolute;
  top: 150px;
  right: 20px;
}
.circle{
  width:16px;
  height: 16px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  top: 310px;
  left:550px;
}
.circle_orange{
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: rgba(191, 103, 13, 1);
  position: absolute;
  top: 310px;
  left: 580px;
}
.circle_white{
  width:16px;
  height: 16px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  top: 310px;
  left:610px;
}
.list-mane{
  display: flex;
  width: auto;
  margin-left: 61px;
  margin-top: 30px;
}
.list-item{
  margin-right: 80px;
}
.title{
  height: 70px;
  font-size:16px;
  font-weight: bolder;
}
.text{
  margin-top: 30px;
}
.footer {
  inline-size: 1301px;
  block-size: 71px;
  background-color: rgba(140, 10, 13, 1);
  display: flex;
}
.nav_item_one{
  width:180px;
  height: 61px;
  margin-left: 80px;
  margin-top: 40px;
}
.nav_item_two{
  width: 180px;
  height: 60px;
  margin-left: 120px;
  margin-top: 25px;
}
.nav_item_three{
  width: 180px;
  height: 60px;
  margin-left: 120px;
  margin-top: 25px;
}
.nav_item_four{
  width: 180px;
  height: 60px;
  margin-left: 130px;
  margin-top: 25px;
}
.link_one{
  text-decoration: none;
  color: #FFE394;
}
.div_image_item{
  width: 100px;
  height: 28px;
  margin-top: 20px;
}
.img_item{
 width: 28px;
 height: 28px;
 margin-left: 10px;
}